Django==2.0.3
django-bootstrap-form==3.4
django-bootstrap3==9.1.0
django-braces==1.13.0
django-generic-positions==0.2.2
django-hvad==1.8.0
django-libs==1.67.13
django-model-utils==3.1.2
django-user-media==1.2.5
easy-thumbnails==2.5
numpy==1.16.3
Pillow==5.1.0
psycopg2==2.7.7
pytz==2018.3
simplejson==3.13.2
swapper==1.1.0
virtualenv==16.4.1
