{% load staticfiles %}
<div class="content-container">
  <div class="pt-4">
      <div class="content-container">
        <div class="content-upvote-container">
          <a><i class="far fa-clipboard"></i></a>

            <p>{{ link.review_set.count }} Review{{ link.review_set.count|pluralize  }}</p>

        </div>
        <div class="content-info">
          <div class="content-title">
            <a href="{% url 'links:detail' slug=link.slug %}"><h1 class="link-title no-wrap t-l">{{ link.title|lower|title }}</h1></a>
            <div class="link-category">
              <p class="t-xs">{{ link.category|lower }}</p>
            </div>
            <p class="t-l">({{ link.link|urlize }})</p>
            {% if link.nsfw == True %}
            <div class="link-nsfw">
              <p class="t-s">ADULT CONTENT</p>
            </div>
            {% endif %}
          </div>
          <div class="content-description">
            <p class="t-m"> {% if link.description|wordcount <= 15 %}
                              {{ link.description }}
                            {% else %}
                              {{ link.description|truncatewords:15 }}
                              <a href="{% url 'links:detail' slug=link.slug %}">Read More</a>
                            {% endif %}
            </p>
          </div>
          <!-- Post Info & Options-->
          <div class="content-details">
            <p class="t-xs">submitted ({{ link.created_at|timesince }}) ago by <a href="{% url 'links:user_account' username=link.user.username %}">{{ link.user }}</a> in <a href="{% url 'links:category_detail' slug=link.category.slug %}">/{{link.category.slug}}</a></p>
            <p class="review t-s"<p>
                  {%  if link.review_set.count == 0 %}
                    No Reviews-
                  {% else %}
                  <span class="stars" data-rating="{{ link.average_rating }}" data-num-stars="5" ></span>
                    {{ link.average_rating }} out of {{ link.review_set.count }} Review{{ link.review_set.count|pluralize }}
                  {% endif %}
                  <a href="{% url 'links:review' slug=link.slug %}">
                    <button type="button" class="btn-xsm btn-outline-info">Review</button>
                  </a>
              </p>
          </div>

          <!-- DELETE AND EDIT VIEW -->
          {% if user.is_authenticated and link.user == user and not hide_delete %}
            <a href="{% url 'links:update' slug=link.slug %}" title="update" class="btn btn-simple">
              <i class="far fa-trash-alt"></i>
              <span class="text-warning icon-label">Edit</span>
            </a>
            <a href="{% url 'links:delete' slug=link.slug %}" title="delete" class="btn btn-simple">
    					<i class="far fa-trash-alt"></i>
    					<span class="text-danger icon-label">Delete</span>
    				</a>
          {% endif %}
        </div>
      </div>
  </div>
</div>
<hr>
