/* =================================
  Flex Rules
==================================== */
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.align-center {
  align-items: center;
}

/* =================================
  Content Layout Styles
==================================== */



.link-title {
  margin: 0px 5px 0px 0px;
}

.link-category {
  background-color: #f5f5f5;
  border: 0.92px solid #dddddd;
  margin-right: auto;
}

.link-nsfw {
  background-color: #ffffff;
  border: 1.1px solid #ff582e;
  color: #ff582e;
  margin-right: auto;
  padding: 2px;
}

 .no-wrap{
   flex: 0 0 auto;
 }

 .working {
   background-color: yellow;
 }

.fa-check-square {
  color: ForestGreen;
}

.fa-times-circle {
  color: red;
}
.review-summary {
  margin: 10 0 10 0;
}

.icon {
  margin: 20 15 20 20;
}

.fas,
.fa-star {
  color: #E5712B;
}

.five_star {
  color: gold;
}

.voting-arrows {
  margin: 10;
  transform: scale(1.4);
}

.no-style{
  text-decoration: none;
}


 /*-------  link-content seperator -------  */


.content-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.content-upvote-container {
  display: flex;
  flex-direction: column;
  margin: 0 10 0 10;
  align-items: center;
  justify-content: center;
}

.content-info {
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1;
  margin: 0 0 0 10px;

}


.content-title {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px;
}

.content-description,
.review-description {
  max-width: 500px;
}

 /*-------  review content -------  */


.review-container {
  display: flex;
  flex-wrap: wrap;
}

.fa-star {
  color:gold;
}

/* =================================
  Media Queries
==================================== */


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) {

}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) {
    .content-description {
      max-width: 50%;
    }
}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) {

}


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}
